*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: #244855;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.title{
    font-size: 2rem;
    margin: 1rem;
    background-color: #90AEAD;
    border-radius: 10%;
    border-bottom: 2px solid black;
}

.container{
    height: 80vh;
    width: 80vh;
    background-color: gray;
}

.controls{
    display:flex;
    gap:3vw;
    align-items: center;
    margin: 1rem;
    width: 70%;
    height: 10%;
    justify-content: center;
    background-color: #FBE9D0;
    border-style: inset;
    border-radius: 25%;;
}
.clear{
    height: 70%;
    width: 7vw;
    background-color: #E64833;
    color:lightgray;
}

.clear:hover{
    background-color: lightblue;
    color:black;
}


.color.rainbow{
    width: 8vw;
}

.grid-submit{
     width: 8vw;
      background-color: #E64833;
    color:lightgray;
}

.grid-submit:hover{
    background-color: lightblue;
    color:black;
}

.color{
    align-items: center;
    display: flex;
    gap: 0.2rem;
}


.container{
    display:flex;
    flex-wrap: wrap;
    border:3px solid black;
}


.rainbow:hover{
    animation: colochange 9s infinite;
    border:2px solid transparent;
    color:black;
}

.rainbow{
     background-color: #E64833;
    color:lightgray;
}
.special{
     background-color: #E64833;
    color:lightgray;
}


.rainbow.tog{
    background-color:darkgray;
    
}

.container div.special{
    animation: colochange 9s infinite;
    border:1px solid transparent;
}

@keyframes colochange{
    0%{
        background-color: rgb(255, 255, 255);
    }
    20%{
        background-color: rgb(255, 187, 0);
    }
    40%{
        background-color: rgb(162, 255, 0);
    }
    60%{
        background-color: rgb(9, 229, 218);
    }
    80%{
        background-color: rgb(140, 0, 255);
    }
    100%{
        background-color: white;
    }
}


.text-content1,.text-content2{
    border:2px dashed transparent;
    align-content: center;
    height: 15%;
    border-radius: 8vh;
    margin: 0.5rem;
    min-width: 5rem;
    text-align: center;
    color:white;
    background-color: #874F41;
    opacity: 0;
}



.box{
    display: flex;
    align-items: center;
}


.color-input, .grid-input{
    background-color:#90AEAD ;
}